<!DOCTYPE html>
<html>
<head>
    <title>POST Form Example</title>
</head>
<body>
    <h1>Send Arguments via POST</h1>
    <form action="/post" method="post">
        <label for="arg1">Argument 1:</label>
        <input type="text" id="arg1" name="arguments"><br><br>
        <label for="arg2">Argument 2:</label>
        <input type="text" id="arg2" name="arguments"><br><br>
        <label for="arg3">Argument 3:</label>
        <input type="text" id="arg3" name="arguments"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
